  <div class="small-12 columns">
    <a href="/" class="back_button secondary hollow button">Back</a>
  </div>

  <div class="small-12 small-centered columns">
    <h1>Daily Habits</h1>
  </div>

  <div class="habit_grid small-12 small-centered columns">
    <h4>Monday</h4>
    <div class="callout secondary">
      <h5>This is a secondary panel</h5>
      <p>It has an easy to override visual style, and is appropriately subdued.</p>
      <a href="#">It's dangerous to go alone, take this.</a>
    </div>
  </div>
  <!-- <div id="content"></div>
<script type="text/babel" src="scripts/main.js"></script> -->
