<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habitual</title>
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/foundation.min.css">

  </head>
  <body>
    <%= yield %>
  </body>

  <script src="/jquery-2.1.4.min.js"></script>
  <script src="/main.js"></script>
</html>
