a.back_button {
  margin-top: 20px;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

.dayLabels span {
  padding: 15px;
  text-align: center;
}
/*
.childrow li {
  list-style: none;
  display: inline-block;
  margin-left: 100px;
}*/

.dayStatus {
  display: inline-block;
}
