a.back_button {
  margin-top: 20px;
  margin-bottom: 0px;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

.dayLabels span {
  padding: 20px;
}

.dayLabels {
  margin-bottom: 15px;
  border-bottom: 2px solid green;
}

.habitForm {
  margin-bottom: 50px;
}
