  <div class="small-12 columns">
    <a href="/" class="back_button secondary hollow button">Back</a>
  </div>


    <div class="small-12 small-centered columns">
      <h1>Daily Habits</h1>
    </div>


  <div class="row">
    <div id="react_daily"></div>
  </div>
