<div class="row">
  <div class="small-8 small-centered columns">
    <div class="small-12 columns">
      <h1>Habitual</h1>
    </div>

    <div class="small-12 columns">
      <a href="/daily" class="expanded success hollow button">Daily Habits</a>
    </div>

    <div class="react_form">

    </div>

  </div>
</div>
